doctype
html
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")

		title Project-5

		//- Links
		link(rel="stylesheet",
				href="css/style.css"
				)
		link(rel="preconnect",
				href="https://fonts.gstatic.com"
				)
		link(rel="preconnect",
				href="https://fonts.gstatic.com"
				)
		link(href="https://fonts.googleapis.com/css2?family=Monoton&display=swap",
				rel="stylesheet"
				)
		link(link href="https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap", 
				rel="stylesheet"
				)
		link(href="https://fonts.googleapis.com/css2?family=Codystar:wght@300;400&display=swap", 
				rel="stylesheet"
				)
	body 
		audio(id="aud", autoplay) 
				source(src="audio/effect.mp3" type="audio/mpeg")
		.container
				.overlay 
				.text #[div 4] #[div 0] #[div 4]




